@media screen and (max-width: 1166px) {
    .principal_recetas {
        flex-direction: column;
    }

    .tienda {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .grid {
        grid-template-columns: 1fr;
    }

    .cards_productos{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 465px){
    .container{
        width: 100vw;
    }
}

@media screen and (max-width: 423px){
    .hero{
        text-align: center;
    }
}

@media screen and (max-width: 416px) {
    .footer-contenedor{
        grid-template-columns: none;
    }
    .adri-cocina a{
        font-size: 30px;
    }
}

@media screen and (max-width: 1024px){
    .adri-cocina a{
        font-size: 30px;
    }
}

@media screen and (max-width: 425px){
    .button{
        margin: 5px;
    }
    .datos_contacto{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 512px){
    .img2{
        width: 300px;
        height: 300px;
        padding: 3px;
    }
}
