* {
    padding: 0;
    margin: 0;
}

.adri-cocina a {
    color: #eed3b6;
    text-decoration: none;
    font-size: 40px;
}

.bg-propio{
    background-color: black;
}

.bg-button{
    background-color: #eed3b6!important;
}
